In [1]:
import pandas as pd
import numpy as np
import plotly
import scipy
from scipy import stats

In [2]:
buyer=pd.read_csv("BuyerRatio (1).csv")
buyer

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [9]:
df=buyer.drop(['Observed Values'],axis=1)

In [10]:
df

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [11]:
df.columns="East","West","North","South"
stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])

F_onewayResult(statistic=0.3068565327605033, pvalue=0.8204060154887464)