In [1]:
import pandas as pd
import plotly
import scipy
from scipy import stats
from plotly import figure_factory as FF

In [2]:
customer=pd.read_csv("Costomer+OrderForm (1).csv")
customer

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [5]:
customer=customer.replace("Error Free","0",regex=True)
customer=customer.replace("Defective","1",regex=True)

In [6]:
customer

    Phillippines Indonesia Malta India
0              0         0     1     0
1              0         0     0     1
2              0         1     1     0
3              0         0     0     0
4              0         0     1     0
..           ...       ...   ...   ...
295            0         0     0     0
296            0         0     0     0
297            0         0     1     0
298            0         0     0     0
299            0         1     1     0

[300 rows x 4 columns]

In [7]:
customer.columns="Phillippines","Indonesia","Malta","India"
stats.f_oneway(customer.iloc[:,0],customer.iloc[:,1],customer.iloc[:,2],customer.iloc[:,3])

F_onewayResult(statistic=1.286168556089167, pvalue=0.2776780955705948)