In [2]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest

In [3]:
pantaloons=pd.read_csv("Faltoons (1).csv")
pantaloons

    Weekdays Weekend
0       Male  Female
1     Female    Male
2     Female    Male
3       Male  Female
4     Female  Female
..       ...     ...
395   Female    Male
396   Female  Female
397   Female  Female
398   Female    Male
399   Female  Female

[400 rows x 2 columns]

In [4]:
pantaloons['Weekdays']=pantaloons['Weekdays'].map({'Male':0,'Female':1})
pantaloons['Weekend']=pantaloons['Weekend'].map({'Male':0,'Female':1})
pantaloons.head(5)

   Weekdays  Weekend
0         0        1
1         1        0
2         1        0
3         0        1
4         1        1

In [5]:
pant=pd.crosstab(pantaloons.Weekdays,pantaloons.Weekend)
pant

Weekend     0    1
Weekdays
0          47   66
1         120  167

In [6]:
count=np.array([47,66]) #number of male and female walking inside the store
count1=np.array([120,167])#total number of people walking inside the store

In [7]:
stat,pval_a=proportions_ztest(count,count1,alternative='two-sided')
stat,pval_a

(-0.06059497248502743, 0.9516817775441105)